* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "montserrat";
    font-weight: 900;
}

.wrapper {
    width: 500px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.title {
    font-family: "montserrat";
    text-align: center;
    color: #333333;
    font-size: 40px;
}

.text {
    font-family: "montserrat";
    color: #333333;
    font-size: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card {
    width: 150px;
    height: 150px;
    border: 1px solid #333333;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
}

.icon {
    font-size: 35px;
}

.input {
    width: 200px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #333333;
    border-radius: 10px;
    outline: none;
}

.button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
}